{
  "exclude": "node_modules/**",
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    ["react-app", { "flow": false, "typescript": true }],
    "@linaria"
  ]
}
